body {
    background-color: grey;
}

td, tr {
  background-color: grey;
  text-align: center;
}

table {
  background-color: black;
}

h1, p {
  color: Black;
}

select, input {
  background-color: #8A9A5B;
}
